
.incomeRecordItems{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

// .inputItem{
//     width: 100%;
//     height: 50px;
//     border-radius: 10px;
//     margin-top: 10px;
// }