.expenseListCardContainer{
    box-shadow: 0 10px 20px 0 rgb(41 37 41 / 10%);
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;

    h6{
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}